@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* menu-mobile */
.menu-mobile {
    width: 320px;
    min-height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px 0px #0E185033;
}

.menu-mobile__content {
    min-height: 100vh;
    margin-top: -6.126rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
/* /menu-mobile */

/* menu-mobile-header */
.menu-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
}

.page-mobile-header__group {
    display: flex;
    align-items: center;
}

.page-mobile-header__logo {
    margin-left: 1rem;
}
/* /menu-mobile-header */

/* .link-icon */
.link-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: linear 200ms;
}

.link-icon:hover {
    opacity: 0.7;
}

.link-icon__icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

.link-icon__icon--close {
    background-image: url('../img/close-icon.svg');
}

.link-icon__icon--search {
    background-image: url('../img/search-icon.svg');
}

.link-icon__icon--phone {
    background-image: url('../img/phone-icon.svg');
}

.link-icon__icon--msg {
    background-image: url('../img/msg-icon.svg');
}

.link-icon__icon--contact {
    background-image: url('../img/contact-icon.svg');
}
/* /.link-icon */

/* .menu-mobile-nav */
.menu-mobile-nav__list {
    padding: 0;
    margin-top: 6.125rem;
}
/* /.menu-mobile-nav */

/* .vertical-nav */
.vertical-nav {
    list-style: none;
}

.vertical-nav__item {
    padding: 1rem 1.5rem;
}

.vertical-nav__link {
    font-family: 'TT Lakes', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    font-weight: normal;
    color: #1B1C21;
    text-decoration: none;
    position: relative;
}

.vertical-nav__link:hover {
    color: #7E7E82;
}

.vertical-nav__link--active {
    color: #7E7E82;
}

.vertical-nav__link--active::before {
    content: ' ';
    width: 4px;
    height: 32px;
    position: absolute;
    left: -1.5rem;
    top: -0.3rem;
    background-color: #41F6D7;
}
/* /.vertical-nav */

/* .menu-mobile-footer */
.menu-mobile-footer {
    padding: 2rem 1.5rem;
    align-self: end;
}

.menu-mobile-footer__icons {
    display: flex;
    margin-bottom: 1rem;
}

.menu-mobile-footer__link-icon--msg {
    margin: auto 1rem;
}

.menu-mobile-footer__link-mail {
    margin-bottom: 0.75rem;
}

.menu-mobile-footer__link-phone {
    margin-bottom: 2.5rem;
}
/* .menu-mobile-footer */

/* .link-mail */
.link-mail {
    font-family: 'TT Lakes', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    font-weight: normal;
    color: #1B1C21;
    text-decoration: none;
    display: block;
}

.link-mail:hover {
    color: #7E7E82;
}
/* /.link-mail */

/* .link-phone */
.link-phone {
    font-family: 'TT Lakes', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: #1B1C21;
    text-decoration: none;
    display: block;
}

.link-phone:hover {
    color: #7E7E82;
}
/* /.link-phone */

/* .lang-links */
.lang-links__link {
    font-family: 'TT Lakes', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.lang-links__link--active {
    color: #7E7E82;
}

.lang-links__link:hover {
    color: #7E7E82;
}
/* /.lang-links */